{% extends "base.html.twig" %}
{% block body %}
    {% block content %}
        <form name="form" method="POST">
                <div class="formFields">
                    <div class="formField">
                        <label for="form_name" class="required">Nom : </label>
                        <input type="text" id="form_name" name="form[name]" required="required">
                    </div>
                    <div class="formField">
                        <label for="form_objectIP" class="required">N° IP : </label>
                        <input type="text" id="form_objectIP" name="form[objectIP]" required="required">
                    </div>
                    <div class="formField">
                        <label for="form_room" class="required">Lieu & Pièce : </label>
                        {{ form_widget(form.room) }}
                    </div>
                    <div class="formField">
                        <label for="form_type" class="required">Type de matériel : </label>
                        {{ form_widget(form.type) }}
                    </div>
                </div>
                <button type="submit">ENREGISTRER</button>
        </form>

    {% endblock %}
    {% block backBand %}
        <div class="backBandLiving">
            <a href="{{ path('settings') }}">
                <button class="btn btnBand" style="background-image:  url(../images/arrowBack.png)">Retour</button>
            </a>
        </div>
    {% endblock %}
{% endblock %}