{% extends "base.html.twig" %}
{% block body %}
    {% block content %}
        <div class="emergency_main_container">
            {% for contact in data %}
                <button type="button" class="btn">
                    <div class="contactName">{{contact.name}}</div>
                    <div class="contactNumber">{{ contact.phoneNumber }}</div>

                </button>
            {% endfor %}
        </div>
    {% endblock %}
    {% block backBand %}
        <div class="backBandLiving">
            <button onclick="goBack()" class="btn btnBand" style="background-image: url({{ asset('images/arrowBack.png')}})">Retour</button>
        </div>
    {% endblock %}
{% endblock %}