html {
  height: 100%;
  width: 100%;
}
html body {
  height: 100%;
  width: 100%;
  padding: 2.5%;
}
html body .no-padding {
  padding: 0 ;
}
html body .home_main_container {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}
html body .home_main_container a {
  border: 5px solid white;
  width: 50%;
  height: 50%;
  padding: 0 !important;
}
html body .home_main_container a .homeBtn {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 50%;
  background-position-y: 50%;
}
html body .home_main_container a .homeBtn .place,
html body .home_main_container a .homeBtn .settings {
  color: white;
  text-shadow: -2px 0 #5b5c5e, 0 2px #5b5c5e, 2px 0 #5b5c5e, 0 -2px #5b5c5e;
  font-size: 75px;
  margin-top: 95%;
  display: none;
}
html body .home_main_container a .homeBtn .settings {
  text-shadow: 0px 0px 15px green;
}
html body .home_main_container a .homeBtn .emergency {
  text-shadow: 0px 0px 15px white;
  color: white;
  font-size: 75px;
  margin-top: 95%;
}
