html {
  height: 100%;
  width: 100%;
}
html body {
  height: 100%;
  width: 100%;
  padding: 2.5%;
}
html body .backBandLiving {
  padding: 0;
  width: 100%;
  height: 10%;
}
html body .backBandLiving .btnBand {
  width: 100%;
  height: 100%;
  background-color: #719aed;
  color: white;
  text-shadow: -3px 0 #5b5c5e, 0 3px #5b5c5e, 3px 0 #5b5c5e, 0 -3px #5b5c5e;
  background-repeat: no-repeat;
  background-position-x: 8%;
  background-position-y: 50%;
  background-size: 5%;
  font-size: 50px;
}
html body .room_main_container {
  height: 90%;
  width: 100%;
}
html body .room_main_container .element {
  width: 100%;
  height: 25%;
  padding: 0;
  color: #5b5c5e;
  font-size: 50px;
  text-align: center;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 10px;
  background-size: 10%;
  border-bottom: 2px solid #5b5c5e;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
html body .room_main_container .element .elementName {
  position: relative;
  top: 40%;
  left: 5%;
}
html body .room_main_container .element .switch {
  position: relative;
  top: 10%;
  display: inline-block;
  width: 25%;
  height: 80%;
}
html body .room_main_container .element .switch input {
  display: none;
}
html body .room_main_container .element .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d48286;
  -webkit-transition: .4s;
  transition: .4s;
}
html body .room_main_container .element .slider:before {
  position: absolute;
  content: "";
  height: 150px;
  width: 60px;
  left: 0;
  bottom: 2px;
  background-color: #666666;
  -webkit-transition: .4s;
  transition: .4s;
}
html body .room_main_container .element input:checked + .slider {
  background-color: #8bbab4;
}
html body .room_main_container .element input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
html body .room_main_container .element input:checked + .slider:before {
  -webkit-transform: translateX(125px);
  -ms-transform: translateX(125px);
  transform: translateX(125px);
}
html body .room_main_container .element .slider.round {
  border-radius: 5%;
}
html body .room_main_container .element .slider.round:before {
  border-radius: 5%;
}
