html {
  height: 100%;
  width: 100%;
}
html body {
  height: 100%;
  width: 100%;
  padding: 2.5%;
}
html body .no-padding {
  padding: 0 ;
}
html body .setting_main_container {
  display: inline-block;
  text-align: center;
  height: 90%;
  width: 100%;
}
html body .setting_main_container a {
  border: 5px solid white;
  width: 100%;
  height: 50%;
  padding: 0 !important;
}
html body .setting_main_container a .addBtn {
  width: 100%;
  height: 100%;
  background-color: #8bbab4;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: 50%;
  background-position-y: 40%;
}
html body .setting_main_container a .addBtn .addEntity {
  color: #5b5c5e;
  text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
  font-size: 75px;
  margin-top: 50%;
}
html body .setting_main_container a .deleteBtn {
  width: 100%;
  height: 100%;
  background-color: #d48286;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: 50%;
  background-position-y: 40%;
}
html body .setting_main_container a .deleteBtn .deleteEntity {
  color: #5b5c5e;
  text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
  font-size: 75px;
  margin-top: 50%;
}
html body .backBandLiving {
  padding: 0;
  width: 100%;
  height: 10%;
}
html body .backBandLiving .btnBand {
  width: 100%;
  height: 100%;
  background-color: #ecfc71;
  color: #5b5c5e;
  text-shadow: -3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 -3px #ffffff;
  background-repeat: no-repeat;
  background-position-x: 8%;
  background-position-y: 50%;
  background-size: 5%;
  font-size: 50px;
}
